body {
	margin: 0 auto;
	padding: 0;
	background-color: white;
}
header {
	background-image: url(../img/bg-header.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
}
.profile {
	padding-top: 50px;
}
/*Nav*/
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-nav>li>a {
	padding-top: 25px;
    color: white;
}
.navbar-brand {
    height: 75px;
}
.navbar-toggle {
    padding-top: 9px;
    padding-left: 10px;
    padding-right: 9px;
    padding-bottom: 10px;
    margin-top: 20px;
}
.menu-btn {
}
/*Our Values*/
.ourvalues {

}
/*Meet Our Team*/
.meetourteam {
	background-color: #999;
	height: 200px;
}
/*People*/
.people {

}
/*Press*/
.press {
	background-color: #ccc;
	height: 200px;
}
/*Subscribe*/
.subscribe {
	background-color: #333;
	height: 100px;
}
/*Hours*/
.hours {
	background-color: orange;
	height: 200px;
}
/*Menu*/
.menu {
	background-color: purple;
	height: 200px;
}